@using Library_Managment.Areas.Admin.Models;
@using Microsoft.AspNetCore.Identity;
@model PaginatedList<Library_Managment.Models.UserNewData>
@inject UserManager<UserNewData> _userManager;
@{
    ViewData["Title"] = "Give Book";
}
<br />
<br />
<a class="btn btn-primary" asp-controller="Books" asp-action="Index">Cancel</a>
<div class="container">
    <h1 style="font-family: 'Arvo', serif;" class="text-center">@ViewData["Title"]</h1>

    <br />
    <form asp-controller="Books" asp-action="GiveBook" method="get">

        <div class="form-inline ">
            <p>
                <input type="text" name="SearchString" class="form-control" style="max-width:400px;" value="@ViewData["CurrentFilter"]" placeholder="Give book to user" />
                <input type="submit" value="Search" class="btn btn-success" /> -
                <a class="btn btn-primary" asp-controller="Books" asp-action="GiveBook">Back to Full List</a>
            </p>
        </div>
    </form>
    <br />

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Give Book</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model) {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Surname</td>
                    <td>@user.Email</td>
                    <td><a class="btn btn-outline-success" asp-area="Admin" asp-controller="Books" asp-action="GiveBookToUser" asp-route-UserId="@user.Id" asp-route-BookId="@ViewBag.BookId" class="btn btn-light">Give Book</a></td>
                </tr>
            }


        </tbody>
    </table>



</div>
<div class="container">
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="DisplayUsers" asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-primary @prevDisabled">
        Previous
    </a>

    <a asp-action="DisplayUsers" asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-primary @nextDisabled">
        Next
    </a>
    <br /><br /><br />
</div>