@using Library_Managment.Areas.Admin.Models;
@using Microsoft.AspNetCore.Identity;
@model List<TakenByUser>
@{
    ViewData["Title"] = "Return Book";

}
<br /><br />
<a class="btn btn-primary" asp-controller="Books" asp-action="Index" style="margin-bottom:10px;">Cancel</a>

<h5 style="font-family: 'Arvo', serif;" class="text-center">Book is taken by:</h5>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Taken Date</th>
                <th>Return Book</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model) {
            <tr>
                <td>@user.Name</td>
                <td>@user.Surname</td>
                <td>@user.Email</td>
                <td>@user.TakenDate</td>
                <td>
                <a class="btn btn-success " asp-area="Admin" asp-controller="Books" asp-action="ReturnBookFromUser" asp-route-UserId="@user.Id" asp-route-BookId="@ViewBag.BookId">Return</a>
                </td>
            </tr>
            }


        </tbody>
    </table>
</div>
<br />
<br />
<br />